[submodule "reactoids"]
	path = reactoids
	url = https://github.com/mistakevin/reactoids.git
[submodule "blog"]
	path = blog
	url = https://github.com/mistakevin/gistblog.git
[submodule "gistblog"]
	branch = styled
[submodule "asteroids"]
	path = asteroids
	url = https://github.com/mistakevin/asteroids.git