[submodule "reactoids"]
	path = reactoids
	url = https://github.com/mistakevin/reactoids.git
[submodule "blog"]
	path = blog
	url = https://github.com/mistakevin/gistblog.git
[submodule "gistblog"]
	branch = styled
	path = gistblog
	url = https://github.com/mistakevin/gistblog.git
[submodule "asteroids"]
	path = asteroids
	url = https://github.com/mistakevin/asteroids.git
[submodule "materialize"]
	path = materialize
	url = https://github.com/mistakevin/VST_Mockups.git
[submodule "towers"]
	path = towers
	url = https://gist.github.com/8c8adbbe5f00b5f51f90.git
[submodule "tic"]
	path = tic
	url = https://gist.github.com/60782473278ae4349ef7.git
