[submodule "reactoids"]
	path = reactoids
	url = https://github.com/mistakevin/reactoids.git
[submodule "blog"]
	path = blog
	url = git@github.com:mistakevin/gistblog.git
[submodule "gistblog"]
	branch = styled
