@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

@font-face {
  font-family: 'CalibreWeb-Black';
  src:
  url('../fonts/CalibreWeb-Black.eot') format('embedded-opentype'),
  url('../fonts/CalibreWeb-Black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CalibreWeb-Medium';
  src:
  url('../fonts/CalibreWeb-Medium.eot') format('embedded-opentype'),
  url('../fonts/CalibreWeb-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*:focus {
  outline-style: none !important;
  outline: 0 !important;
}

html, body {
  overflow-x: hidden;
  font-family: 'Lato', arial;
}

h1 {
  font-size: 11rem;
  line-height: 7rem;
  font-family: 'CalibreWeb-BLACK', arial;
}

h2 {
  font-size: 3.75rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.3rem;
}

.bold {
  font-weight: bold;
}

/* Font Colors */
.gray-font {
  color: rgb(157, 162, 165);
}

.white-font {
  color: rgb(250, 250, 250);
}

.green-font {
  color: rgb(67, 176, 42);
}

.yellow-font {
  color: rgb(250, 226, 51);
}

/* Buttons */
.white-button {
  border-color: white;
  background-color: transparent;
  color: white !important;
  padding: .4rem 3.5rem;
}

.white-button:active {
  border-color: white;
  background-color: transparent !important;
  color: white !important;
}

.white-button:focus {
  border-color: white !important;
  color: white !important;
  background-color: transparent !important;
}

.white-button:hover {
  border-color: rgb(67, 176, 42) !important;
  background-color: rgb(250, 250, 250) !important;
  color: rgb(67, 176, 42) !important;
}

.green-button {
  border-color: rgb(67, 176, 42);
  padding: 2rem 3rem;
  background-color: transparent;
  whitespace:normal;
}

.green-button:focus {
  border-color: rgb(67, 176, 42) !important;
  color: rgb(67, 176, 42) !important;
  background-color: #ffffff !important;
}

.green-button:hover {
  background-color: rgb(67, 176, 42) !important;
  color: #ffffff !important;
}

.green-button:active {
  background-color: rgb(47, 128, 30) !important;
  color: #ffffff !important;
}

#shopping-cart-btn {
  margin-left:1rem;
  font-size:90%;
  border-color:#AAAAAA;
  color:#AAAAAA;
  background-color:transparent;
  position:relative;
  top:-6px;
}

#shopping-cart-btn:hover {
  color:white;
  border-color:white;
}

#shopping-cart-btn > i {
  padding-right:1rem;
}

/* Background Colors */

.blue-bg {
  background-color: rgb(37, 55, 70);
  border-color: rgb(37, 55, 70);
}

.black-bg {
  background-color: #000000;
  border-color: #000000;
}

.green-bg {
  background-color: rgb(67, 176, 42) !important;
}

/* Pie Chart */

#inner-circle {
  margin-top: 30%;
  margin-left: 30%;
  position: absolute;
  width: 40%;
  height: 40%;
  background-color: #ffffff;
  border-radius: 50%;
}

.circle-bar {
  height: 7rem;
  width: 0.5rem;
  background-color: #ffffff;
}

.gray-color {
  color: rgb(157, 162, 165);
}

.grayer-color {
  color: rgb(104, 117, 127);
}

.grayest-color {
  color: rgb(65, 81, 93);
}

.deg180 {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Safari */
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  -ms-transform-origin: top center;
  -webkit-transform-origin: top center;
  -o-transform-origin: top center;
  -moz-transform-origin: top center;
  transform-origin: top center;
  margin-top: 1rem;
  margin-left: 4rem;
}

.deg60 {
  -ms-transform: rotate(60deg); /* IE 9 */
  -webkit-transform: rotate(60deg); /* Safari */
  -o-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  transform: rotate(60deg);
  -ms-transform-origin: top center;
  -webkit-transform-origin: top center;
  -o-transform-origin: top center;
  -moz-transform-origin: top center;
  transform-origin: top center;
  margin-left: 1rem;
  margin-top: -2.5rem;
}

.deg300 {
  -ms-transform: rotate(300deg); /* IE 9 */
  -webkit-transform: rotate(300deg); /* Safari */
  -o-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  transform: rotate(300deg);
  -ms-transform-origin: top center;
  -webkit-transform-origin: top center;
  -o-transform-origin: top center;
  -moz-transform-origin: top center;
  transform-origin: top center;
  margin-top: -7rem;
  margin-left: 7rem;
}

/* Section Padding */

.section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.title-section {
  padding: 12rem 0 10rem 0;
}


.learn-more-section {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.xl-button {
  font-size: 2.5rem;
}

.customers-container {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.customers-col {
  height:10rem;
}

.customers-row img {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#customers-arrow {
  color:#BBBBBB;
}

.white-button:active {
  background-color: rgb(250, 250, 250) !important;
  color: #ffffff !important;
}

/* Footer */
.footer-container {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.footer-social-media {
  width: 100%;
}

.footer-social-media i {
  font-size: 1.9rem;
  color: white;
}

.footer-social-media .social {
  margin-right:1.4rem;
}

.footer-container p {
  color:#DDDDDD;
}

.footer-container h6 {
  color:#DDDDDD;
}

.footer-container a {
  color: #DDDDDD;
  text-decoration: none;
}

.footer-site-map a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.footer-mobile-links {
  padding-left:4rem;
}

.footer-site-map b > a {
  color: #DDDDDD !important;
  font-size: 110%;
}

.footer-company-name {
  white-space: nowrap;
}

.footer-logo-mobile {
  height: 5.5rem;
  margin-bottom:2rem;
}

.footer-logo {
  height: 3rem;
}

/* Header & Nav */

.affix-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  min-height: 0;
}

.navbar-default {
  font-size: 1.3rem;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #DCDCDC;
}

.navbar-default .navbar-nav>li>a:visited {
  color: #ffffff !important;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  color: #555 !important;
}

.nav-social-cart {
  padding-top: .3rem;
  padding-bottom: 1.7rem;
}

.nav-social-cart .social {
  color: #ffffff;
  padding-left: 1.2rem;
}

.header-logo {
  height:4rem;
  position:relative;
  bottom:2rem;
}

.header-logo-mobile {
  margin-top: 1.5rem;
  margin-left: 2rem;
  height:2.5rem;
}

.header-logo {
  height:4rem;
  position:relative;
  bottom:2rem;
}


.more-specialties-container {
  color: #F9F9F9;
  padding: 0px 0px 0px 0px;
  background: url(../img/bg-tesselations_grey.jpg);
  background-size:cover;
  padding: 3rem 0;
}

.more-specialties-container h3 {
  margin-top:0;
}

.more-specialties-button-col {
 display:table-cell;
 vertical-align:middle;
 float:none;
}

.more-specialties-col {
 display:table-cell;
 float:none;
 position:relative;
 top:1rem;
}

.more-specialties-title-col {
  overflow:hidden;
  display:table-cell;
  vertical-align:middle;
  float:none;
  min-width:5rem;
  height:15.2rem;
}

.more-specialties-row {
  padding:3rem 0;
}

.specialty-button {
  border-color: white;
  background-color: transparent;
  color: white !important;
  padding: 1.2rem 4.3rem;
}

.specialty-button:active {
  border-color: white;
  background-color: transparent;
  color: white !important;
}

.specialty-button:focus {
  border-color: white;
  background-color: transparent;
  color: white !important;
}

.specialty-button:hover {
  border-color: white !important;
  background-color: white !important;
  color: rgb(97, 104, 113) !important;
}

.more-specialties-title {
  float:none;
  display:table-cell;
  vertical-align:middle;
  white-space: nowrap;
  width: 18rem !important;
  position: absolute;
  top:9.25rem;
  min-width:1rem;
}

.menu-button {
  border-color: transparent !important;
  background-color:transparent !important;
}

.menu-button:active {
  border-color: transparent !important;
  background-color: transparent !important;
}

.menu-button:focus {
  background-color: transparent !important;
  border-color: transparent !important;
}

.menu-button:hover {
  border-color: white !important;
  background-color: transparent !important;
}

.more-specialties-container h4 {
  -webkit-transform: rotate(-90deg) translate(-50%, 0);
  -webkit-transform-origin: 0 0;
  -moz-transform: rotate(-90deg) translate(-50%, 0);
  -moz-transform-origin: 0 0;
  -ms-transform: rotate(-90deg) translate(-50%, 0);
  -ms-transform-origin: 0 0;
  -o-transform: rotate(-90deg) translate(-50%, 0);
  -o-transform-origin: 0 0;

  text-align:right;
  min-width:5rem;
}

.more-specialties-content {
  padding-left: 6rem;
}

.customers-link {
  margin-top: 3rem;
}

.give-back-button {
  border-color: rgb(28, 41, 54);
  background-color: transparent;
  color: rgb(28, 41, 54) !important;
  padding: 1.2rem 4.3rem !important;
}

.give-back-button:focus {
  border-color: rgb(100, 100, 100) !important;
  color: rgb(100, 100, 100) !important;
  background-color: #ffffff !important;
}

.give-back-button:hover {
  border-color: rgb(100,100,100) !important;
  background-color: rgb(250, 250, 250) !important;
  color: rgb(100, 100, 100) !important;
}

.give-back-col {
  color: rgb(28, 41, 54) !important;
  display:table-cell;
  height:18rem;
  float:none;
  vertical-align:middle;
}

.give-back-col h3 {
  color:rgb(28, 41, 54);
}

.customer-table.table>tbody>tr>td {
  border: none;
  vertical-align: middle;
}

.email-row {
  color: rgb(28,40,54);
  font-family:"Lato";
  padding-top:4rem;
  padding-bottom:4rem;
}

.email-form {
  max-width:60rem;
  margin: 0 auto;
}

.form-control {
  height:5.5rem;
  padding-left:3rem;
}

.email-form button {
  height:5.5rem;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

::-webkit-input-placeholder { /* WebKit browsers */
  font-size: 1.7rem;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-size: 1.7rem;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-size: 1.7rem;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-size: 1.7rem;
}

.detail-list>li {
  margin-bottom: 0.75rem;
}

.legend>li {
  margin-bottom: 1rem;
}

.central-container {
  padding-bottom: 10rem;
}

.blue-tesselation {
  height: 41rem;
  width: 100%;
  margin-top: 7.4rem;
  position: absolute;
  background: url(../img/bg-tesselations_blue-white.jpg);
  background-size: 100% 41rem;
}

.blue-tesselation .fade-white {
  height: 10rem;
  width: 100%;
  background: url(../img/trans-to-white.png);
  position: absolute;
  margin-top: -41rem;
  background-size: contain;
  bottom: 0rem;
}

.green-tesselation {
  height: 31rem;
  width: 100%;
  position: absolute;
  margin-top: -17rem;
  z-index: -10;
  background: url(../img/bg-tesselations_white-green.jpg);
}

.green-tesselation .fade-white {
  height: 17rem;
  width: 100%;
  background: url(../img/white-to-trans.png);
  position: absolute;
  background-size: contain;
  bottom: 14rem;
}

.customer-img.linkedin {
  width: 10rem;
  margin-top: 2rem;
}

.customer-img.boeing {
  width: 12rem;
  margin-top: 2rem;
}

.customer-img.nasa {
  width: 7rem;
}

.customer-img.jpmorgan {
  width: 10rem;
  margin-top: 2rem;
}

/*News/Blog*/
.rss-box ul {
  padding: 0 0 0 0;
}

.rss-box li.rss-item {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.rss-box a.rss-item {
  font-size: 2rem;
  font-weight: bold;
  color: #444444;
}

.blog-read-more {
  font-size:110%;
  color:rgb(52, 163, 34);
  text-decoration: underline;
}
.blog-read-more:hover {
  color:rgb(52, 163, 34);
  text-decoration: underline;
}

.anaconda-logo {
  max-width: 50rem;
  width: 100%;
}

/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

.learn-more-text {
  width: 100%;
  height:16rem;
  overflow:hidden;
  text-align: left !important;
}

.learn-more-col {
  padding-bottom: 2.8rem;
}

.learn-more-text h3, .learn-more-text h5 {
  height:auto;
  margin:0 0;
  padding: .5rem 0;
}

#pie-chart-img {
  height:25rem;
  padding: 2rem 0;
}

@media only screen and (max-width : 992px) {
  
  .learn-more-text {
    height:17rem;
  }

}

/* Small Devices, Tablets  (Anything less than a portrait iPad (768px))*/
@media only screen and (max-width : 767px) {

  .learn-more-text {
    display:inline-block;
    height:auto;
  }

  .learn-more-col {
    padding-bottom: 6rem;
  }

  .rss-box li.rss-item {
    display: block;
    width: 95%;
  }

  .title h1 {
    font-size:14vw;
  }

  h1 {
    font-size: 5rem;
    line-height: 0rem;
  }

  h2 {
    font-size: 3rem;
  }

  .blue-tesselation {
    height: 41rem;
    width: 100%;
    margin-top: 3.6rem;
    position: absolute;
    background: url(../img/bg-tesselations_blue-white.jpg);
    background-size: 100% 41rem;
  }
}
